body {
	font:13px Helvetica, arial, freesans, clean, sans-serif;
	width: 1080px;
	margin: 24px auto;
}
h1 {
	font-size: 32px;
	font-weight: bold;	
	border-bottom: solid 1px rgb(200,200,200);
	margin-bottom: 24px;
}
h2 {
	font-size: 24px;
	font-weight: bold;
	border-bottom: solid 1px rgb(220,220,220);
	margin-bottom: 12px;
	margin-top: 24px;
}
.description {
	font-size: 15px;
}
#demo-container {
	margin: 32px 24px;
}

#preview-container {
	width: 100%;
	background: rgb(245,245,245);
	border: solid 1px rgb(220,220,220);
	box-shadow: inset 3px 3px 3px rgb(240,240,240);
	text-align: center;
}
#preview {
	margin: 24px;
}

#code-container {
}

/** Let the viewport expand as much as it wants!**/
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
