body {
	font-family: HelveticaNeue;
	font-size: 16px;

	background: rgb(20,20,20);
}
.section {
	width: 100%;
	background: rgb(255,255,255);
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/** NAVBAR **/
#navbar {
	background: rgb(40,40,40);
	border-bottom: solid 1px rgb(50,50,50);
	box-shadow: 0px 1px 6px rgb(0,0,0);
	height: 64px;
}
#navbar .container {
	position: static;
}
#navbar .title {
	font-family: Lobster Two;
	font-style: italic;
	font-size: 24px;
	color: white;
	margin-top: 22px;
}
#navbar .title span {
	font-style: normal;
	font-family: HelveticaNeueUltLt;
}
#navbar .nav-item {
	font-family: Arial;
	margin-top: 24px;
	padding: 0 12px;
	display: inline-block;
	cursor: pointer;
}

/** BANNER **/
#banner {
	background: rgb(20,20,20);
	color: rgb(255,255,255);
}
#banner-top {
	padding-top: 30px;
	text-align: center;
	width: 100%;
}
#banner .caption {
	font-family: ProximaNova;
	font-size: 17px;
	color: rgb(80,80,80);
}
#banner #demo {
	height: 450px;
	text-align: center;
	margin-top: 64px;
}
#banner .smartImage-wrapper {
	display: inline-block;
	margin-right: 10px;
	border-radius: 3px;
	border: solid 1px rgb(30,30,30);
}
#banner .title {
	font-family: Lobster Two;
	font-style: italic;
	font-size: 68px;
	color: white;
	margin-top: 22px;
}
#banner .title span {
	font-style: normal;
	font-family: HelveticaNeueUltLt;
}
#banner #download-btn {
	background: -webkit-gradient(linear,left top,left bottom,from(rgb(34,167,34)),to(rgb(45,100,45)));
	color: rgb(255,255,255);
	border-bottom: solid 1px rgb(0,0,0);
	box-shadow: 0px 1px 0px rgb(80,80,80);
	margin-top: 40px;
	display: block;
}

/** **/
.divider {
	height: 1px;
	margin: 70px 0 50px 0;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.1), rgba(255,255,255,0));
}
.section {
	background: rgb(20,20,20);
}
.section h1 {
	color: rgb(255,255,255);
	font-size: 36px;
	font-family: HelveticaNeueUltLt;
}
#section-about {
	/*background: rgb(13,162,255);*/
	height: 500px;
}
#section-examples {
	/*background: rgb(137,108,232);*/
	height: 500px;
}
#section-documentation {
	/*background: rgb(58,156,138);*/
	height: 500px;
}
#section-footer {
	background: rgb(40,40,40);
	border-top: solid 1px rgb(50,50,50);
	text-align: center;
}
#copyright {
	padding: 30px;
	font-size: 14px;
	color: rgb(150,150,150);
}