body {
	font-family: HelveticaNeue;
	font-size: 16px;

	background: rgb(20,20,20);
}
.section {
	width: 100%;
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/** NAVBAR **/
#navbar {
	background: rgb(40,40,40);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(50,50,50)), to(rgb(30,30,30)));
	border-bottom: solid 1px rgb(50,50,50);
	box-shadow: 0px 1px 6px rgb(0,0,0);
	height: 64px;
	width: 100%;

	position: fixed;
	z-index: 9000;
}
#navbar .container {
	position: static;
}
#navbar .title {
	font-family: Lobster Two;
	font-style: italic;
	font-size: 24px;
	margin-top: 22px;
}
#navbar .title span {
	font-style: normal;
	font-family: HelveticaNeueUltLt;
}
#navbar .nav-item {
	font-family: Arial;
	margin-top: 24px;
	padding: 0 12px;
	display: inline-block;
	cursor: pointer;
}
#navbar .title a {
	color: white;
}
#navbar a {
	text-decoration: none;
}
.nav-link {
	cursor: pointer;
}

/** BANNER **/
#banner {
	padding-top: 64px;
	color: rgb(255,255,255);
}
#banner-top {
	padding-top: 60px;
	text-align: center;
	width: 100%;
}
#banner .caption {
	font-family: Rochester;
	font-style: italic;
	font-size: 28px;
	color: rgb(80,80,80);
}
#banner #demo {
	height: 450px;
	text-align: center;
	margin-top: 96px;
}
#banner .smartImage-wrapper {
	display: inline-block;
	margin-right: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 50px rgb(80,80,80);
}
#banner .title {
	font-family: Lobster Two;
	font-style: italic;
	font-size: 68px;
	color: rgb(200,200,200);
	margin-top: 48px;
	margin-bottom: 48px;
	text-align: right;
}
#banner .title span {
	font-style: normal;
	font-family: HelveticaNeueUltLt;
}
#banner #download-btn {
	background: -webkit-gradient(linear,left top,left bottom,from(rgb(34,167,34)),to(rgb(45,100,45)));
	color: rgb(255,255,255);
	border-bottom: solid 1px rgb(0,0,0);
	box-shadow: 0px 1px 0px rgb(80,80,80);
	margin-top: 40px;
	display: block;
}

/** **/
.anchor {
	margin-bottom: 50px;
	display: block;
}
#home.anchor {
	margin-bottom: 0px;
}
.divider {
	height: 1px;
	margin: 0px 0 70px 0;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.1), rgba(255,255,255,0));
}
.section h1 {
	color: rgb(150,150,150);
	font-size: 36px;
	font-family: HelveticaNeueUltLt;
	margin-bottom: 32px;
	text-align: center;
}
#section-get-started {
	/*background: rgb(13,162,255);*/
	height: 500px;
}
#section-get-started #browser-support {
	text-align: center;
}
#section-get-started .browser {
	width: 64px;
	height: 64px;
	opacity: 0.1;
	cursor: pointer;
}
#section-get-started .browser.supported {
	opacity: 0.8;
}
#section-examples {
	/*background: rgb(137,108,232);*/
	height: 500px;
}
#section-documentation {
	/*background: rgb(58,156,138);*/
	height: 500px;
}
#section-footer {
	background: rgb(40,40,40);
	border-top: solid 1px rgb(50,50,50);
	text-align: center;
}
#copyright {
	padding: 30px;
	font-size: 14px;
	color: rgb(150,150,150);
}